In [9]:
# Import libraries
import pandas as pd
import numpy as np

Read the .csv that contains bank holidays from 01/01/2014 to 31/12/2017 (4 years).

In [10]:
df = pd.read_csv('Data/Bank_Hollidays.csv', sep = ';')

Inspect the DataFrame.

In [11]:
df.head()

         Date        Day            Title  Bank Holliday
0  01/01/2014  Wednesday   New Year's Day              1
1  06/01/2014     Monday         Epiphany              1
2  17/04/2014   Thursday  Maundy Thursday              1
3  18/04/2014     Friday    Maundy Friday              1
4  01/05/2014   Thursday        Labor Day              1

In [12]:
df.dtypes

Date             object
Day              object
Title            object
Bank Holliday     int64
dtype: object

Cast the "Date" serie to datetie format and create the serie "Date_string" in string format.

In [13]:
df['Date'] = pd.to_datetime(df['Date'])
df['Date_string'] = df['Date'].dt.strftime('%Y-%m-%d')

Inspect the DataFrame.

In [14]:
df.head()

        Date        Day            Title  Bank Holliday Date_string
0 2014-01-01  Wednesday   New Year's Day              1  2014-01-01
1 2014-06-01     Monday         Epiphany              1  2014-06-01
2 2014-04-17   Thursday  Maundy Thursday              1  2014-04-17
3 2014-04-18     Friday    Maundy Friday              1  2014-04-18
4 2014-01-05   Thursday        Labor Day              1  2014-01-05

Create a new DataFrame with every day of the four years listed in hourly format.

In [15]:
df3 = pd.DataFrame()

In [16]:
# Create 'Date' serie in datetime format from 01/01/2014 to 31/12/2017 in hourly format
serie_fechas = pd.date_range(start='2014-01-01 00:00:00', end='2017-12-31 23:00:00', freq='1H')
df3['Date'] = pd.Series(serie_fechas)
# Create 'Date_string' serie as 'Date' serie in string format
df3['Date_string'] = df3['Date'].dt.strftime('%Y-%m-%d')
# 'Festivo' serie initialized to zero
df3['Festivo'] = 0
# 'Fin de semana' serie: if weekday = 5 or weekday = 6 -> 1 else 0
df3['Fin de semana'] = 0
for index, elem in df3['Date'].iteritems():
    if (elem.weekday() == 5) | (elem.weekday() == 6):
        df3['Fin de semana'].iloc[index] = 1
df3.head()

G:\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

                 Date Date_string  Festivo  Fin de semana
0 2014-01-01 00:00:00  2014-01-01        0              0
1 2014-01-01 01:00:00  2014-01-01        0              0
2 2014-01-01 02:00:00  2014-01-01        0              0
3 2014-01-01 03:00:00  2014-01-01        0              0
4 2014-01-01 04:00:00  2014-01-01        0              0

Create a for loop to check if a day is bank holliday comparing 'Festivo' serie from df3 with df.

In [17]:

for index1, elem1 in df['Date_string'].iteritems():
    for index2, elem2 in df3['Date_string'].iteritems():
        if elem1 == elem2:
            df3['Festivo'].iloc[index2] = 1
df3.tail()

G:\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

                     Date Date_string  Festivo  Fin de semana
35059 2017-12-31 19:00:00  2017-12-31        0              1
35060 2017-12-31 20:00:00  2017-12-31        0              1
35061 2017-12-31 21:00:00  2017-12-31        0              1
35062 2017-12-31 22:00:00  2017-12-31        0              1
35063 2017-12-31 23:00:00  2017-12-31        0              1

In [18]:
# Series of interest
df4 = df3[['Date', 'Festivo', 'Fin de semana']]
df4.head()

                 Date  Festivo  Fin de semana
0 2014-01-01 00:00:00        1              0
1 2014-01-01 01:00:00        1              0
2 2014-01-01 02:00:00        1              0
3 2014-01-01 03:00:00        1              0
4 2014-01-01 04:00:00        1              0

Export df4 to csv.

In [19]:
df4.to_csv('BankHollidaysResult.csv', sep = ';', index=False)